<form [formGroup]="reqdescForm">
  <div class="row py-5">
    <div class="col-sm-4">
      <div class="card" [ngClass]="{'border-danger': submitted && f.requestype.errors}">
        <div class="card-header text-center">Tipo de solicitud</div>
        <div class="card-body">
          <div class="custom-control custom-radio" *ngFor="let rtype of requestTypes;let index=index">
            <input class="custom-control-input" type="radio" formControlName="requestype" id="requestype{{index}}" [value]="rtype.firequesttypeid">
            <label class="custom-control-label" for="requestype{{index}}">{{rtype.fcrequesttype}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" [ngClass]="{'border-danger': submitted && f.priority.errors}">
        <div class="card-header text-center">Prioridad</div>
        <div class="card-body">
          <div class="custom-control custom-radio" *ngFor="let priority of priorities;let index=index">
            <input class="custom-control-input" type="radio" formControlName="priority" id="priority{{index}}" [value]="priority.fipriorityid">
            <label class="custom-control-label" for="priority{{index}}">{{priority.fcprioritydesc}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" [ngClass]="{'border-danger': submitted && f.complex.errors}">
        <div class="card-header text-center">Complejidad</div>
        <div class="card-body">
          <div class="custom-control custom-radio" *ngFor="let c of complex;let index=index">
            <input class="custom-control-input" type="radio" formControlName="complex" id="complex{{index}}" [value]="c.ficomplexityid">
            <label class="custom-control-label" for="complex{{index}}">{{c.fccmplexitydesc}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-4">
      <div class="card" [ngClass]="{'border-danger': submitted && f.business.errors}">
        <div class="card-header text-center">Etapa de afectación en el negocio</div>
        <div class="card-body">
            <div class="custom-control custom-radio" *ngFor="let mtype of mergeTypes;let index=index">
            <input class="custom-control-input" type="radio" formControlName="business" id="business{{index}}" [value]="mtype.filevelmergetypeid">
            <label class="custom-control-label" for="business{{index}}">{{mtype.fclevelmergetype}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" [ngClass]="{'border-danger': submitted && f.entregable.errors}">
        <div class="card-header text-center">Entregables</div>
        <div class="card-body">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" formControlName="entregable" id="entregable1" value="1">
            <label class="custom-control-label" for="entregable1">Modelado BPMN</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" formControlName="entregable" id="entregable2" value="2">
            <label class="custom-control-label" for="entregable2">Red de procesos</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" formControlName="entregable" id="entregable3" value="3">
            <label class="custom-control-label" for="entregable3">Ficha técnica</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" formControlName="entregable" id="entregable4" value="4">
            <label class="custom-control-label" for="entregable4">Especificación de procesos</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header text-center">Departamentos involucrados</div>
        <div class="card-body">
          <tag-input theme='bootstrap' formControlName="deptos" name="deptos"></tag-input>
        </div>
      </div>
    </div>
  </div>
</form>