<div  class="backgroud-img-login">
    <div class="container">
    
        <div class="row ">
            <div class="Absolute-Center is-Responsive">
        <div class="card" style="width: 28rem;">
    
            <div class="card-header text-center dark-text">
                <h3>Registro</h3>
              </div>
           <!-- Card body -->
          <div class="card-body">
    
          <!-- Material form register -->
          <form [formGroup]="cardForm">
            <!-- Material input email -->
            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="email" id="materialFormCardEmailEx" formControlName="materialFormCardEmailEx" class="form-control" mdbInputDirective>
              <label for="materialFormCardEmailEx" class="font-weight-light">Correo electronico</label>
            </div>
            <!-- Material input password -->
            <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <input type="password" id="pwd1" formControlName="pwdform1" class="form-control"
                mdbInputDirective>
              <label for="pwd1" class="font-weight-light">Contraseña</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="pwd2" formControlName="pwdform2" class="form-control"
                  mdbInputDirective>
                <label for="pwd2" class="font-weight-light">Repetir contraseña</label>
            </div>
      
            <div class="text-center py-4 mt-3">
              <button class="btn btn-cyan waves-light" type="submit" mdbWavesEffect>Registrar</button>
            </div>
          </form>
      
        </div>
          <!--Footer-->
          <div class="card-footer text-right" >

          </div>
    
        </div>
        </div>
        </div>
    </div>
    </div>
    
