<!--Panel-->
<div class="container">
<div class="card">
  <div class="card-header text-center dark-text">
    FORMATO DE SOLICITUD PARA INGENIERIA DE NEGOCIO
  </div>
  <div class="card-body">
    <nav class="nav nav-pills nav-justified" style="background-color: #333">
      <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['applicant-inf']" (click) ="goTo(0)">INFORMACIÓN DEL SOLICITANTE</a>
      <a class="nav-item nav-link" [ngClass]="{'disabled':tabs[1].form.invalid}" routerLinkActive="active" [routerLink]="['request-inf']" (click) ="goTo(1)">INFORMACIÓN DE LA SOLICITUD</a>
      <a class="nav-item nav-link" [ngClass]="{'disabled':tabs[1].form.invalid}" routerLinkActive="active" [routerLink]="['request-desc']" (click) ="goTo(2)">DESCRIPCIÓN DE LA SOLICITUD</a>
      <a class="nav-item nav-link" [ngClass]="{'disabled':tabs[2].form.invalid}" routerLinkActive="active" [routerLink]="['proyect-desc']" (click) ="goTo(3)">DESCRIPCIÓN GENERAL DEL PROYECTO</a>
    </nav>
    <section>
        <router-outlet></router-outlet>
    </section>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'disabled':currentTab === 'applicant-inf'}" (click)="back()">Anterior</button>
    <button type="button" class="btn btn-primary btn-sm pull-right" (click)="next()" >{{currentTab == 'proyect-desc'?'Terminar':'Siguiente'}}</button>
  </div>
</div>
</div>

<div mdbModal #modal="mdb-modal" class="modal fade" id="modalinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Envío de solicitud</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <h3>¿Esta seguro que desea enviar la solicitud?</h3>
                </div>
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal" (click)="modal.hide()"  mdbWavesEffect>Cerrar</button>
                <button type="button" class="btn btn-primary btn-sm waves-light" mdbWavesEffect (click)="send()">Enviar</button>
            </div>
        </div>
    </div>
</div>