<div class="card card-default">
  <div class="card-header">
      <div class="card-title">Publicación de un proyecto</div>
  </div>
  <div class="card-body">
      <div class="row mb-4">
          <div class="col-lg-4">
              <input type='text' class="form-control" placeholder='Buscar por nombre de proyecto' (keyup)='updateFilter($event)' />
          </div>
      </div>
      <ngx-datatable #table class='bootstrap no-detail-row' [rows]="rowsFilter" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
          <ngx-datatable-column prop="firequestid" name="Folio"></ngx-datatable-column>
          <ngx-datatable-column prop="fcproyectname" name="Proyecto"></ngx-datatable-column>
          <ngx-datatable-column prop="fcbusisnessengineer" name="Ingeniero de Negocio"></ngx-datatable-column>
          <ngx-datatable-column prop="fccertificatedengineer" name="Ingeniero Certificador"></ngx-datatable-column>
          <ngx-datatable-column prop="fcproductowner" name="Solicitante"></ngx-datatable-column>
          <ngx-datatable-column prop=" " name="Prioridad"></ngx-datatable-column>
          <ngx-datatable-column prop="ficomplexityid" name="Complejidad"></ngx-datatable-column>
          <ngx-datatable-column prop="fddate" name="Fecha Inicio"></ngx-datatable-column>
          <ngx-datatable-column name="fistatusid" [width] ="300">
              <ng-template ngx-datatable-cell-template let-value="value" >
                  <select   name="shape_id" (change)="changeShape($event.target)" >
                    <option value="0">Selecciona el estatus </option>
                     <option *ngFor='let element of rowsFilter2' [value]="element.fistatusid" [selected]="element.fistatusid === value" >{{element.fistatus}}</option> 
                   </select>
                  
              </ng-template> 
                             
          </ngx-datatable-column>
          <ngx-datatable-column prop="firequestid" name="Acciones" [width] ="210">
            <ng-template ngx-datatable-cell-template let-value="value">
                <button  class="btn btn-primary btn-sm"   (click)="updateStatusRequest(value)" >Guardar</button>
            </ng-template>                
        </ngx-datatable-column>
        
      </ngx-datatable>
  </div>
</div>
