<div class="card card-default">
  <div class="card-header">
      <div class="card-title">Publicación de un proyecto</div>
  </div>
  <div class="card-body">
      <div class="row mb-4">
          <div class="col-lg-4">
              <input type='text' class="form-control" placeholder='Buscar por nombre de proyecto' (keyup)='updateFilter($event)' />
          </div>
      </div>
      <ngx-datatable #table class='bootstrap no-detail-row' [rows]="rowsFilter" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
          <ngx-datatable-column prop="firequestid" name="Folio"></ngx-datatable-column>
          <ngx-datatable-column prop="fcproyectname" name="Proyecto"></ngx-datatable-column>
          <ngx-datatable-column prop="fcbusisnessengineer" name="Ingeniero de Negocio"></ngx-datatable-column>
          <ngx-datatable-column prop="fccertificatedengineer" name="Ingeniero Certificador"></ngx-datatable-column>
          <ngx-datatable-column prop="fcproductowner" name="Solicitante"></ngx-datatable-column>
          <ngx-datatable-column prop="fipriorityid" name="Prioridad"></ngx-datatable-column>
          <ngx-datatable-column prop="ficomplexityid" name="Complejidad"></ngx-datatable-column>
          <ngx-datatable-column prop="fddate" name="Fecha Inicio"></ngx-datatable-column>
        
          <ngx-datatable-column name="Estatus" [width] ="300">
              <ng-template ngx-datatable-cell-template >
                  <select name="estatus">
                      <option value="">Selecciona el estatus</option>
                      <option value="1">Solicitado</option>
                      <option value="2">Asignado</option>
                      <option value="3">Proceso</option>
                      <option value="4">Validación Sistemas</option>
                      <option value="5">Validación Negocio</option>
                      <option value="6">Certificación de Ingeniería</option>
                      <option value="7">Certificación Estrategica</option>
                      <option value="8">Publicación</option>
                      <option value="9">Cancelado</option>
                      <option value="10">Pospuesto</option>
                      <option value="11">Terminado</option>

                   </select>
              </ng-template>                
          </ngx-datatable-column>
          <ngx-datatable-column prop="firequestid" name="Acciones" [width] ="210">
            <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
                <button type="button" class="btn btn-primary btn-sm">Guardar</button>
            </ng-template>                
        </ngx-datatable-column>
      </ngx-datatable>
  </div>
</div>