<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color">

    <!-- Navbar brand -->
    <logo>
        <a class="navbar-brand" href="#">
            <img src="assets/img/logo.png" width="140" height="90" alt="">
        </a>
    </logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" *ngFor="let menu of menus" >
                <a  *ngIf="menu.hide" href class="nav-link waves-light" [routerLink]="['/'+menu.link]">{{menu.text}}</a>
            </li>

        </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <span class="navbar-text white-text">
                {{user.fcname}} {{user.fclastname1}} {{user.fclastname2}}
            </span>
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light">
                    <i class="fa fa-user"></i>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" href="#">Perfil</a>
                    <a class="dropdown-item waves-light" routerLink="/login">Salir</a>
                </div>
            </li>
        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->