<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color">

    <!-- Navbar brand -->
    <logo>
        <a class="navbar-brand" href="#">
            <img src="assets/img/logo.png" width="140" height="90" alt="">
        </a>
    </logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Inicio
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" [routerLink]="['/request']" mdbWavesEffect>Solicitud</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" [routerLink]="['/publish']" mdbWavesEffect>Publicación</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" [routerLink]="['/tracing']" mdbWavesEffect>Seguimiento</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" [routerLink]="['/assignment']" mdbWavesEffect>Asignación</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" [routerLink]="['/activity']" mdbWavesEffect>Bitácora</a>
            </li>

        </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <span class="navbar-text white-text">
                {{user.fcname}} {{user.fclastname1}} {{user.fclastname2}}
            </span>
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <i class="fa fa-user"></i>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Perfil</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/login">Salir</a>
                </div>
            </li>
        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->