<div class="backgroud-img-login">
  <div class="container">

    <div class="row ">
      <div class="Absolute-Center is-Responsive">
        <div class="card" style="width: 28rem;">

          <div class="card-header text-center dark-text">
            <h3>Login</h3>
          </div>
          <!-- Card body -->
          <div class="card-body">

            <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
              <div class="form-group">
                <label for="employId">No de empleado</label>
                <input type="text" id="employId" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.employId.errors }"
                 class="form-control" formControlName="employId" #loginInput>
              </div>
              <div class="form-group">
                <label for="pwd">Contraseña</label>
                <input type="password" id="pwd" [ngClass]="{ 'is-invalid': submitted && f.pwd.errors }" 
                class="form-control" formControlName="pwd">
              </div>
              <div *ngIf="loginForm.valid && loginError" class="alert alert-warning" role="alert">
                *Usuario/Contraseña no existe!
              </div>

              <div class="text-center py-4 mt-3">
                <button class="btn btn-primary btn-sm" type="submit">Acceder</button>
              </div>
            </form>

          </div>
          <!--Footer-->
          <div class="card-footer text-right">
            <div class="options">
              <p>Registrate con nosotros
                <a [routerLink]="['/register']">aquí</a>
              </p>
              <p>¿Olvidaster tu contraseña?
                <a href="#"> entra aquí?</a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>