<div class="card card-default">
    <div class="card-header">
        <div class="card-title">Seguimiento de proyecto</div>
    </div>
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-lg-4">
                <input type='text' class="form-control" placeholder='Buscar por ing. de negocio' (keyup)='updateFilter($event)' />
            </div>
        </div>
        <ngx-datatable #table class='bootstrap no-detail-row' [rows]="rowsFilter" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
            <ngx-datatable-column name="Ing. de negocio">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row['fcname']+' '+ row['fclastname1']+' '+ row['fclastname2']}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="fitotalfolio" name="Folios Totales"></ngx-datatable-column>
            <ngx-datatable-column prop="fiasignationmax" name="Disponibilidad de asignación" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column prop="fcCancelados" name="Cancelado"></ngx-datatable-column>
            <ngx-datatable-column prop="fcPospuestos" name="Pospuesto"></ngx-datatable-column>
            <ngx-datatable-column prop="fcTerminados" name="Terminado"></ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
