<!--Panel-->
<div class="container">
  <div class="card">
    <div class="card-header">
      <table class="table table-sm">
        <tbody>
          <tr>
            <th class="font-weight-bold">Folio</th>
            <td>{{publish.firequestid}}</td>
            <td class="font-weight-bold">Nombre del proyecto</td>
            <td>{{publish.fcproyectname}}</td>
            <td class="font-weight-bold">Producto</td>
            <td>{{productStrn}}</td>
          </tr>
          <tr>
            <th class="font-weight-bold">Categoría</th>
            <td>{{publish.fccategory}}</td>
            <td class="font-weight-bold">Empresa</td>
            <td>{{publish.fccompany}}</td>
            <td class="font-weight-bold">Director de sistemas</td>
            <td>{{publish.fcsystemcharge}}</td>
          </tr>
          <tr>
            <th class="font-weight-bold">Dueño de producto</th>
            <td>{{publish.fcproductowner}}</td>
            <td class="font-weight-bold">Dueño de negocio</td>
            <td>{{publish.fcbusinessowner}}</td>
            <td class="font-weight-bold">Descripción del producto</td>
            <td>Temp description</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-body">
      <div class="row" [ngClass]="{'mt-4': !first}" *ngFor="let row of documents;let first=first;">
        <div class="col-sm-4" *ngFor="let document of row">
          <div class="card">
            <div class="card-header">
              <h5 class="float-left">{{document.fcdocumentname}}</h5>
              <a href="javascript:void(0);" (click)="uploadFile(document)" *ngIf="currentUser.firoleid!==3" title="Subir archivo" [ngClass]="{'disabled':!document.fileName || document.uploader?.isUploading}" class="badge badge-info float-right ml-2">
                <em class="fa fa-upload fa-fw"></em>
              </a>
              <a [href]="document.fcdocumentpath" *ngIf="document.fcdocumentpath!=null" target="_blank" title="Descargar archivo" class="badge badge-info float-right">
                  <em class="fa fa-download fa-fw"></em>
                </a>
            </div>
            <div class="card-body">
              <!--  -->
              <div ng2FileDrop *ngIf="currentUser.firoleid!==3" [ngClass]="{'border-success': document.onDropZone}" (fileOver)="document.onDropZone = $event" 
                (onFileDrop)= "fileSelected($event,document)" [uploader]="document.uploader"
                class="box-placeholder text-center file-upload">
                <small>{{document.fileName?document.fileName:'Selecciona o arrastra el archivo aquí'}}</small>
                <input id="file2" type="file" ng2FileSelect [uploader]="document.uploader" (onFileSelected)="fileSelected($event,document)" />
              </div>

              <p class="card-text">{{document.comentarios?document.comentarios?.length:0}} Comentarios</p>
              <div class="media border-bottom p-2" *ngFor="let comment of document.comentarios">
                <img class="mr-2 rounded-circle thumb32" src="assets/img/user/no_user.png" alt="Image" width="50" height="50" />
                <div class="media-body">
                  <div class="clearfix">
                    <strong class="text-capitalize pull-left">{{comment.split('|')[1]}}</strong>
                    <span class="align-middle pull-right">
                      <small class="text-muted">{{comment.split('|')[0] | date:'short'}}</small>
                    </span>
                  </div>
                  <div class="text-sm text-muted">{{comment.split('|')[2]}}</div>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">
              <input type="text" #comment class="form-control"
               placeholder="Agrega un comentario" (keyup.enter)="addComment(comment.value,document);comment.value=''">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>