<div class="card card-default">
    <div class="card-header">
        <div class="card-title">Publicación de un proyecto</div>
    </div>
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-lg-4">
                <input type='text' class="form-control" placeholder='Buscar por nombre de proyecto' (keyup)='updateFilter($event)' />
            </div>
        </div>
        <ngx-datatable #table class='bootstrap no-detail-row' [rows]="rowsFilter" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
            <ngx-datatable-column prop="id" name="Folio"></ngx-datatable-column>
            <ngx-datatable-column prop="proyect" name="Nombre del proyecto"></ngx-datatable-column>
            <ngx-datatable-column prop="description" name="Descripción"></ngx-datatable-column>
            <ngx-datatable-column prop="status" name="Estatus"></ngx-datatable-column>
            <ngx-datatable-column prop="action" name="Acciones">
                <ng-template ngx-datatable-cell-template let-value="value">
                    <button type="button" class="btn btn-primary btn-sm">publicar</button>
                </ng-template>                
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>