<div class="card card-default">
    <div class="card-header">
        <div class="card-title">Publicación de un proyecto</div>
    </div>
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-lg-4">
                <input type='text' class="form-control" placeholder='Buscar por nombre de proyecto' (keyup)='updateFilter($event)' />
            </div>
        </div>
        <ngx-datatable #table class='bootstrap no-detail-row' [rows]="rowsFilter" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
            <ngx-datatable-column prop="firequestid" name="Folio"></ngx-datatable-column>
            <ngx-datatable-column prop="fcproyectname" name="Proyecto"></ngx-datatable-column>
            <ngx-datatable-column prop="fccompany" name="Producto"></ngx-datatable-column>
            <ngx-datatable-column prop="fcproductowner" name="Solicitante"></ngx-datatable-column>
            <ngx-datatable-column name="negociousuario" [width] ="300" >
                <ng-template ngx-datatable-cell-template let-value="value">
                    <select class="form-control" name="ingenieroNegocio" id="ingenieroNegocio" #ingenieroNegocio (change)="changeingenieroNegocio($event.target)" >
                        <option value="0">Seleccione al Ingeniero de Negocio</option>
                        <option *ngFor="let row of rowsFilter2" 
                            [value]="row.fiuserid" [selected]="row.fiuserid === value" >
                        {{row.fcname}}  {{row.fclastname1}} {{row.fclastname2}} 
                        </option>
                     </select>
                </ng-template>                
            </ngx-datatable-column>
            <ngx-datatable-column name="certificadorusuario" [width] ="300">
                <ng-template ngx-datatable-cell-template let-value="value">
                    <select class="form-control" name="ingenieroCertificador" #ingenieroCertificador (change)="changeingenieroCertificador($event.target)">
                        <option value="">Seleccione al Ingeniero Certificador</option>
                        <option *ngFor="let row3 of rowsFilter3" 
                            [value]="row3.fiuserid"  [selected]="row3.fiuserid === value">
                        {{row3.fcname}}  {{row3.fclastname1}} {{row3.fclastname2}} 
                        </option>
                     </select>
                </ng-template>                
            </ngx-datatable-column>
            <ngx-datatable-column name="Avance %">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <progressbar class="progress-striped" type="warning" [value]="row['fiadvancehour']">{{row['fiadvancehour']}} %</progressbar>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="firequestid" name="Acciones" [width] ="210">
                <ng-template ngx-datatable-cell-template let-value="value">
                    <button (click)="updateBussinessAndCertificatorEngineer(value,{'firequestid': 1,'fcbusisnessengineer': 'JOCSAN','fiuseridbe': 2, 'fccertificatedengineer': 'JOSE','fiuseridce': 3,'ficomplexityid': 1,'fiproductid': 1,'fipriorityid': 1})" class="btn btn-primary btn-sm">Asignar</button>
                </ng-template>                
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>


