<div class="card card-default">
    <div class="card-header">
        <div class="card-title">Publicación de un proyecto</div>
    </div>
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-lg-4">
                <input type='text' class="form-control" placeholder='Buscar por nombre de proyecto' (keyup)='updateFilter($event)' />
            </div>
        </div>
        <ngx-datatable #table class='bootstrap no-detail-row' [rows]="rowsFilter" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
            <ngx-datatable-column prop="id" name="Folio"></ngx-datatable-column>
            <ngx-datatable-column prop="proyect" name="Proyecto"></ngx-datatable-column>
            <ngx-datatable-column prop="product" name="Producto"></ngx-datatable-column>
            <ngx-datatable-column prop="applicant" name="Solicitante"></ngx-datatable-column>
            <ngx-datatable-column name="Ing. Negocio" [width] ="300" >
                <ng-template ngx-datatable-cell-template >
                    <select name="ingenieroNegocio">
                        <option value="">Seleccione al Ingeniero de Negocio</option>
                        <option value="alison">Alison Guadalupe Gonzalez Esquivel</option>
                        <option value="jocsan">Jocsan Esaú Benito Luna</option>
                        <option value="miguel">Miguel Angel Jimenez Huerta</option>
                        <option value="nayeli">Nayeli Jannethe Hernandez Ramirez</option>
                     </select>
                </ng-template>                
            </ngx-datatable-column>
            <ngx-datatable-column name="Ing. Certificador" [width] ="300">
                <ng-template ngx-datatable-cell-template >
                    <select name="ingenieroNegocio">
                        <option value="">Seleccione al Ingeniero Certificador</option>
                        <option value="alison">Alison Guadalupe Gonzalez Esquivel</option>
                        <option value="jocsan">Jocsan Esaú Benito Luna</option>
                        <option value="miguel">Miguel Angel Jimenez Huerta</option>
                        <option value="nayeli">Nayeli Jannethe Hernandez Ramirez</option>
                     </select>
                </ng-template>                
            </ngx-datatable-column>
            <ngx-datatable-column prop="progress" name="Avance">
                <ng-template ngx-datatable-cell-template let-value="value">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>