<div class="card card-default">
    <div class="card-header">
        <div class="card-title">Bitácora de actividades</div>
        * Da clik en el día del calendario para agregar tu actividad
    </div>
    <div class="card-body">
        <mwl-demo-utils-calendar-header
        [(view)]="view"
        [(viewDate)]="viewDate">
      </mwl-demo-utils-calendar-header>
      
      <div class="alert alert-info">
        Click on a day on the view.
        <strong *ngIf="clickedDate">You clicked on this day: {{ clickedDate | date:'medium' }}</strong>
      </div>
      
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          (dayClicked)="clickedDate = $event.day.date">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="'week'"
          [viewDate]="viewDate"
          [events]="events"
          (dayHeaderClicked)="clickedDate = $event.day.date">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="'day'"
          [viewDate]="viewDate"
          [events]="events">
        </mwl-calendar-day-view>
      </div>
    </div>
</div>