<div class="card card-default">
    <div class="card-header">
        <div class="card-title"><h3>Bitácora de actividades</h3></div>
        * Da clik en el día del calendario para agregar tu actividad
    </div>

    <div class="card-body">

        <mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
        </mwl-demo-utils-calendar-header>

        <div *ngIf="events$ | async; let events">
            <div [ngSwitch]="view">
                <mwl-calendar-month-view *ngSwitchCase="'month'" [refresh]="refresh" [locale]="'es-MX'" [viewDate]="viewDate" [events]="events" (dayClicked)="show($event.day.date,events)"
                    (eventClicked)="handleEvent($event.event)">
                </mwl-calendar-month-view>                
            </div>
        </div>
    </div>
</div>

<div mdbModal #content="mdb-modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form [formGroup]="newActivityForm" (ngSubmit)="addMeeting(newActivityForm.value)">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Actividad {{ dateSelected | date: 'fullDate' }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="content.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="firequestid">Peticion</label>
                            <select id="firequestid" formControlName="firequestid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firequestid.errors }">
                                <option [value]="p.firequestid" *ngFor="let p of requests">{{ p.fcproyectname}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="fccomments">Comentarios</label>
                            <textarea type="text"  class="form-control" id="fccomments" 
                            formControlName="fccomments"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="fcinterviewer">Entrevistado</label>
                            <input type="text" autocomplete="off" class="form-control" id="fcinterviewer" 
                            formControlName="fcinterviewer">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="fdfinaldate">Fecha de terminación</label>
                            <input type="text" autocomplete="off" class="form-control" id="fdfinaldate" 
                                formControlName="fdfinaldate" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" bsDatepicker>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal" (click)="content.hide()" mdbWavesEffect>Cancelar</button>
                    <button type="submit" class="btn btn-primary btn-sm" mdbWavesEffect>Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>