<div class="card card-default">
  <div class="card-header">
      <div class="card-title">Bitácora de actividades</div>
      * Da clik en el día del calendario para agregar tu actividad
  </div>
  <div class="card-body">
      <mwl-demo-utils-calendar-header
      [(view)]="view"
      [(viewDate)]="viewDate">
    </mwl-demo-utils-calendar-header>
    
    <div class="alert alert-info">
      Click on a day on the view.
      <strong *ngIf="clickedDate">You clicked on this day: {{ clickedDate | date:'medium' }}</strong>
    </div>
    
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        (dayClicked)="show($event.day.date,'Actividad','Descripcion')">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        (dayHeaderClicked)="show($event.day.date, 'Actividad','Descripcion')">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events">
      </mwl-calendar-day-view>
    </div>


  </div>
</div>

<div mdbModal #content="mdb-modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <form [formGroup]="newActivityForm" (ngSubmit)="addMeeting(newActivityForm.value)">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Agrega una nueva Actividad para el día {{ dateString }}</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="content.hide()">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body">
              
              <label>Request</label>
              <select class="browser-default">
                  <option value="" disabled selected>Choose your option</option>
              </select>

             

              <div class="md-form">
                  <input mdbInputDirective type="text" class="form-control" id="title" formControlName="title" [value]="title">
              </div>
              <div class="md-form">
                  <textarea mdbInputDirective type="text" id="description" formControlName="description" class="md-textarea" [value]="descripcion"></textarea>
              </div>
              
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="content.hide()" mdbWavesEffect>Close</button>
              <button type="submit"class="btn btn-primary waves-light" mdbWavesEffect>Agregar</button>
          </div>
        
      </div>
      </form>
  </div>
</div>